family-sans = "Ubuntu", "Roboto", "Open Sans", "Microsoft YaHei", sans-serif
family-mono = "Source Code Pro", monospace, "Microsoft YaHei"
gap = 64px
screen-tablet = 769px
screen-desktop = 1408px
screen-widescreen = 1408px
screen-fullhd = 1408px

/* ---------------------------------
 *       Override CSS Framework
 * --------------------------------- */
html
    font-size: 14px

body
    background-color: #f7f7f7

body, button, input, select, textarea
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif

@media screen and (min-width: screen-widescreen)
    .is-1-column .container
    .is-2-column .container
        max-width: screen-desktop - 2 * gap
        width: screen-desktop - 2 * gap
@media screen and (min-width: screen-fullhd)
    .is-2-column .container
        max-width: screen-widescreen - 2 * gap
        width: screen-widescreen - 2 * gap
    .is-1-column .container
        max-width: screen-desktop - 2 * gap
        width: screen-desktop - 2 * gap

@media screen and (max-width: screen-tablet - 1)
    .section
        padding: 1.5rem 1rem

@media screen and (min-width: screen-tablet)
    .column-main,
    .column-left,
    .column-right,
    .column-right-shadow
        &.is-sticky
            align-self: flex-start
            position: -webkit-sticky
            position: sticky
            top: .75rem
    .column-right-shadow
        &.is-sticky
            top: 1.5rem

.tag
    &.is-grey
        background: #e7e7e7

.card
    border-radius: 4px
    box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1)
    & + .card,
    & + .column-right-shadow
        margin-top: 1.5rem
    &.card-transparent
        box-shadow: none
        background: transparent
    .card-image
        overflow: hidden
        border-top-left-radius: 4px
        border-top-right-radius: 4px

img.thumbnail
    object-fit: cover
    width: 100%
    height: 100%

.navbar-logo,
.footer-logo
    img
        max-height: 1.75rem

.navbar-main
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05)
    .navbar-menu,
    .navbar-start,
    .navbar-end
        align-items: stretch
        display: flex
        padding: 0
        flex-shrink: 0
    .navbar-menu
        flex-grow: 1
        flex-shrink: 0
        overflow-x: auto
    .navbar-start
        justify-content: flex-start
        margin-right: auto
    .navbar-end
        justify-content: flex-end
        margin-left: auto
    .navbar-item
        display: flex
        align-items: center
        padding: 1.25rem 0.75rem
        &.search 
            margin-right: 35px
        &.is-active
            color: hsl(217, 71%, 53%)
            background-color: transparent
    @media screen and (max-width: screen-desktop - 1)
        .navbar-menu
            justify-content: center
            box-shadow: none
        .navbar-start
            margin-right: 0
        .navbar-end
            margin-left: 0

.footer
    background: white
    padding: 3rem 1.5rem
    .field
        .button
            background: transparent
    .has-text-centered-mobile
        margin: 0 auto

.widget
    .media
        border: none
    .media + .media
        margin-top: 0
    .menu-list li ul
        margin-right: 0
    .menu-list a.level
        display: flex

.pagination
    .pagination-link:not(.is-current), .pagination-previous, .pagination-next
        background: white
        border: none
    .pagination-link, .pagination-previous, .pagination-next
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05)

.post-navigation
    justify-content: space-between
    .level-item
        margin-bottom: 0

.timeline
    margin-left: 1rem
    padding-left: 1.5rem
    padding-top: 1rem
    border-left: 1px solid hsl(0, 0%, 86%)
    .media
        position: relative
        &:before,
        &:last-child:after
            content: ''
            display: block
            position: absolute
            left: calc(-5px - 1.5rem)
        &:before
            width: 9px
            height: 9px
            top: 1.3rem
            background: hsl(0, 0%, 86%)
            border-radius: 50%
        &:first-child:before
            top: 0.3rem
        &:last-child:after
            top: calc(1.3rem + 9px)
            width: 9px
            bottom: 0
            background: white
        &:first-child:last-child:after
            top: calc(0.3rem + 9px)

.article
    .article-meta
        margin-bottom: 0.5rem !important
    .content
        font-size: 1.1rem
        blockquote.pullquote
            float: right
            max-width: 50%
            font-size: 1.15rem
            position: relative
    .gallery-item
        display: block
        text-align: center
        padding: 15px 8%
        img
            box-shadow: 2px 2px 10px #d7d9d8

.rtl
     direction: rtl
     .level
        &, &.is-mobile
            .level-item:not(:last-child)
                margin-left: 0.75rem
                margin-right: 0

.donate
    position: relative
    .qrcode
        display: none
        position: absolute
        z-index: 99
        bottom: 2.5em
        line-height: 0
        overflow: hidden
        border-radius: 4px
        box-shadow: 0 4px 10px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.2)
        overflow: hidden
        img
            max-width: 280px
    &:hover
        .qrcode
            display: block
    &:first-child:not(:last-child)
        .qrcode
            left: -0.75rem
    &:last-child:not(:first-child)
        .qrcode
            right: -0.75rem

@media screen and (max-width: screen-tablet - 1)
    #toc
        display: none
        position: fixed
        margin: 1rem
        left: 0
        right: 0
        bottom: 0
        z-index: 100
        max-height: calc(100vh - 2rem)
        overflow-y: auto
    #toc-mask
        display: none
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 99
        background: rgba(0, 0, 0, 0.7)
    #toc,
    #toc-mask
        &.is-active
            display: block


/* ---------------------------------
 *         Custom modifiers
 * --------------------------------- */
.is-borderless
    border: none

.is-size-7
    font-size: 0.85rem !important

.is-7by1
    padding-top: 42.8%
    img
        bottom: 0
        left: 0
        position: absolute
        right: 0
        top: 0

.is-overflow-x-auto
    overflow-x: auto !important

.is-flex-grow
    flex-grow: 1 !important

.is-flex-wrap
    flex-wrap: wrap !important

.is-flex-start
    justify-content: start !important

.is-flex-center
    justify-content: center !important

.is-flex-middle
    align-items: center !important

.has-order-1
    order: 1

.has-order-2
    order: 2

.has-order-3
    order: 3

.has-mr-6
    margin-right: 0.5em !important

.has-mb-6
    margin-bottom: 0.5em !important

.has-mr-7
    margin-right: 0.25em !important

.has-link-grey,
.has-link-black-ter
    transition: 0.2s ease
    &:hover
        color: hsl(217, 71%, 53%) !important

.has-link-grey
    color: hsl(0, 0%, 48%) !important

.has-link-black-ter
    color: hsl(0, 0%, 14%) !important

@media screen and (max-width: screen-tablet - 1)
    .has-text-centered-mobile
        text-align: center !important
    .is-flex-center-mobile
        justify-content: center !important
    .has-mt-5-mobile
        margin-top: 1em !important

/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa, .fab, .fal, .far, .fas
    line-height: inherit

/* ---------------------------------
 *         Avatar & forkMe
 * --------------------------------- */
.avatar
    width: 150px !important
    height: 150px !important

.menu-label .tips 
    color: #7a7a7a;
    font-size: 0.75em;
/* ---------------------------------
 *        Fix content elements
 * --------------------------------- */
.content
    h1, h2, h3, h4, h5, h6
        font-weight: bold
    h1
        font-size: 1.55em
    h2
        font-size: 1.55em
        border-bottom: 1px solid #ccc
        padding-bottom: 15px
    h3
        font-size: 1.25em
    h4
        font-size: 1.25em
    h5
        font-size: 1.1em
    h6
        font-size: 1.02em
    code, pre
        font-size: 0.85em
        font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
    code
        color: hsl(348, 100%, 61%)
        background: transparent
        padding: 0
        vertical-align: middle
    blockquote
        footer
            strong + cite
                margin-left: 0.5em
    .hljs-comment
        font-style: normal
        color: #999
    ul li p, ol li p 
        margin-bottom: 0 !important
        text-align: justify
    ul li ul, ol li ul
        margin-bottom: 0.5em
        margin-top: 0.5em
    // ul, ol
    //     margin-bottom: 0.5em !important
    //     margin-top: 0.5em !important
    // p
    //     margin-bottom: 0.5em !important
    hr
        background-color: #e5e5e5
    p
        text-align: justify
        word-break: break-all
    & > table
        border: 1px solid #d5dbe0
        th
            border-width: 1px !important
        td, th
            border-width: 0 0 1px 1px !important
        tr:nth-child(odd) td
            background-color: #f3f4f5
            transition: all .25s cubic-bezier(.645, .045, .355, 1)
        a:hover 
            color: #2424c7
        /* tr:hover td */
        /*    background-color: #cfd1d6 */

/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
.highlight.hljs
    background: #ececec

.highlight.hljs::-webkit-scrollbar {
  width: 6px
  height: 6px
  background-color: transparent
}

.highlight.hljs::-webkit-scrollbar-thumb {
  background-color: #b6bfc5
  border-radius: 5px
}

.highlight.hljs::-webkit-scrollbar-track {
  background: transparent
}

.highlight.hljs::-webkit-scrollbar-corner {
  background: transparent
}  

figure.highlight
    padding: 0
    width: 100%
    position: relative
    margin: 1em 0 1em !important

    pre,
    table tr:hover
        color: inherit
        background: transparent

    table
        width: auto

    pre
        padding: 0
        overflow: visible

        .line
            line-height: 1.5rem

    figcaption,
    .gutter
        background: rgba(200, 200, 200, 0.15)
        display: none

    figcaption
        padding: .3em .75em
        text-align: left
        font-style: normal
        font-size: .8em

        span
            font-weight: 500
            font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace

        a
            float: right
            color: #9a9a9a

    .gutter
        text-align: right

    .tag,
    .title,
    .number,
    .section
        display: inherit
        font: inherit
        margin: inherit
        padding: inherit
        background: inherit
        height: inherit
        text-align: inherit
        vertical-align: inherit
        min-width: inherit
        border-radius: inherit

    .copy
        display: none
        position: absolute
        bottom: 0
        right: 0
        color: white
        background: rgba(0, 0, 0, 0.5)
    &:hover .copy
        display: none

/* ---------------------------------
 *          Overflow Table
 * --------------------------------- */
.table-overflow
    overflow-x: auto
    table
        width: auto!important
        th
            word-break: keep-all

/* ---------------------------------
 *            Fix Video
 * --------------------------------- */
.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist
    table
        tr:hover
            background: transparent
        td
            border: none
    .file
        all: initial


/* ---------------------------------
 *        侧边栏多行溢出隐藏
 * --------------------------------- */
.media-content
    .has-link-black-ter
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: normal;    
        max-height: 19px;
        display: inline-block;

.card-content
    .menu-list span      
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

.card-content
    .menu-list span:first-child
        text-overflow: unset;
        white-space: initial;
        overflow: inherit;


