/* ---------------------------------
 *       Override CSS Framework
 * --------------------------------- */
html {
  font-size: 14px;
}
body {
  background-color: #f7f7f7;
}
body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@media screen and (min-width: 1772px) {
  .is-1-column .container,
  .is-2-column .container {
    max-width: 1644px;
    width: 1644px;
  }
}
@media screen and (min-width: 1772px) {
  .is-2-column .container {
    max-width: 1644px;
    width: 1644px;
  }
  .is-1-column .container {
    max-width: 1644px;
    width: 1644px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 1.5rem 1rem;
  }
}
@media screen and (min-width: 769px) {
  .column-main.is-sticky,
  .column-left.is-sticky,
  .column-right.is-sticky,
  .column-right-shadow.is-sticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0.75rem;
  }
  .column-right-shadow.is-sticky {
    top: 1.5rem;
  }
}
.tag.is-grey {
  background: #e7e7e7;
}
.card {
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
}
.card + .card,
.card + .column-right-shadow {
  margin-top: 1.5rem;
}
.card.card-transparent {
  box-shadow: none;
  background: transparent;
}
.card .card-image {
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
img.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-logo img,
.footer-logo img {
  max-height: 1.75rem;
}
.navbar-main {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.navbar-main .navbar-menu,
.navbar-main .navbar-start,
.navbar-main .navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  flex-shrink: 0;
}
.navbar-main .navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
}
.navbar-main .navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-main .navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
.navbar-main .navbar-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0.75rem;
}
.navbar-main .navbar-item.search {
  margin-right: 35px;
}
.navbar-main .navbar-item.is-active {
  color: #3273dc;
  background-color: transparent;
}
@media screen and (max-width: 1771px) {
  .navbar-main .navbar-menu {
    justify-content: center;
    box-shadow: none;
  }
  .navbar-main .navbar-start {
    margin-right: 0;
  }
  .navbar-main .navbar-end {
    margin-left: 0;
  }
}
.footer {
  background: #fff;
  padding: 3rem 1.5rem;
}
.footer .field .button {
  background: transparent;
}
.footer .has-text-centered-mobile {
  margin: 0 auto;
}
.widget .media {
  border: none;
}
.widget .media + .media {
  margin-top: 0;
}
.widget .menu-list li ul {
  margin-right: 0;
}
.widget .menu-list a.level {
  display: flex;
}
.pagination .pagination-link:not(.is-current),
.pagination .pagination-previous,
.pagination .pagination-next {
  background: #fff;
  border: none;
}
.pagination .pagination-link,
.pagination .pagination-previous,
.pagination .pagination-next {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.post-navigation {
  justify-content: space-between;
}
.post-navigation .level-item {
  margin-bottom: 0;
}
.timeline {
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  border-left: 1px solid #dbdbdb;
}
.timeline .media {
  position: relative;
}
.timeline .media:before,
.timeline .media:last-child:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(-5px - 1.5rem);
}
.timeline .media:before {
  width: 9px;
  height: 9px;
  top: 1.3rem;
  background: #dbdbdb;
  border-radius: 50%;
}
.timeline .media:first-child:before {
  top: 0.3rem;
}
.timeline .media:last-child:after {
  top: calc(1.3rem + 9px);
  width: 9px;
  bottom: 0;
  background: #fff;
}
.timeline .media:first-child:last-child:after {
  top: calc(0.3rem + 9px);
}
.article .article-meta {
  margin-bottom: 0.5rem !important;
}
.article .content {
  font-size: 1.1rem;
}
.article .content blockquote.pullquote {
  float: right;
  max-width: 50%;
  font-size: 1.15rem;
  position: relative;
}
.article .gallery-item {
  display: block;
  text-align: center;
  padding: 15px 8%;
}
.article .gallery-item img {
  box-shadow: 2px 2px 10px #d7d9d8;
  max-width: 70%;
}
.rtl {
  direction: rtl;
}
.rtl .level .level-item:not(:last-child),
.rtl .level.is-mobile .level-item:not(:last-child) {
  margin-left: 0.75rem;
  margin-right: 0;
}
.donate {
  position: relative;
}
.donate .qrcode {
  display: none;
  position: absolute;
  z-index: 99;
  bottom: 2.5em;
  line-height: 0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
  overflow: hidden;
}
.donate .qrcode img {
  max-width: 280px;
}
.donate:hover .qrcode {
  display: block;
}
.donate:first-child:not(:last-child) .qrcode {
  left: -0.75rem;
}
.donate:last-child:not(:first-child) .qrcode {
  right: -0.75rem;
}
@media screen and (max-width: 768px) {
  #toc {
    display: none;
    position: fixed;
    margin: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }
  #toc-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.7);
  }
  #toc.is-active,
  #toc-mask.is-active {
    display: block;
  }
}
/* ---------------------------------
 *         Custom modifiers
 * --------------------------------- */
.is-borderless {
  border: none;
}
.is-size-7 {
  font-size: 0.85rem !important;
}
.is-7by1 {
  padding-top: 42.8%;
}
.is-7by1 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.is-overflow-x-auto {
  overflow-x: auto !important;
}
.is-flex-grow {
  flex-grow: 1 !important;
}
.is-flex-wrap {
  flex-wrap: wrap !important;
}
.is-flex-start {
  justify-content: start !important;
}
.is-flex-center {
  justify-content: center !important;
}
.is-flex-middle {
  align-items: center !important;
}
.has-order-1 {
  order: 1;
}
.has-order-2 {
  order: 2;
}
.has-order-3 {
  order: 3;
}
.has-mr-6 {
  margin-right: 0.5em !important;
}
.has-mb-6 {
  margin-bottom: 0.5em !important;
}
.has-mr-7 {
  margin-right: 0.25em !important;
}
.has-link-grey,
.has-link-black-ter {
  transition: 0.2s ease;
}
.has-link-grey:hover,
.has-link-black-ter:hover {
  color: #3273dc !important;
}
.has-link-grey {
  color: #7a7a7a !important;
}
.has-link-black-ter {
  color: #242424 !important;
}
@media screen and (max-width: 768px) {
  .has-text-centered-mobile {
    text-align: center !important;
  }
  .is-flex-center-mobile {
    justify-content: center !important;
  }
  .has-mt-5-mobile {
    margin-top: 1em !important;
  }
}
/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}
/* ---------------------------------
 *         Avatar & forkMe
 * --------------------------------- */
.avatar {
  width: 150px !important;
  height: 150px !important;
}
/* ---------------------------------
 *        Fix content elements
 * --------------------------------- */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: bold;
}
.content h1 {
  font-size: 1.75em;
}
.content h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.content h3 {
  font-size: 1.25em;
}
.content h4 {
  font-size: 1.125em;
}
.content h5 {
  font-size: 1em;
}
.content code,
.content pre {
  font-size: 0.85em;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.content code {
  color: #ff3860;
  background: transparent;
  padding: 0;
}
.content blockquote footer strong + cite {
  margin-left: 0.5em;
}
.content .hljs-comment {
  font-style: normal;
  color: #999;
}
.content ul li p,
.content ol li p {
  margin-bottom: 0 !important;
  text-align: justify;
}
.content ul li ul,
.content ol li ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.content hr {
  background-color: #e5e5e5;
}
.content p {
  word-break: break-all;
}
.content > table {
  border: 1px solid #d5dbe0;
/* tr:hover td */
/*    background-color: #cfd1d6 */
}
.content > table th {
  border-width: 1px !important;
}
.content > table td,
.content > table th {
  border-width: 0 0 1px 1px !important;
}
.content > table tr:nth-child(odd) td {
  background-color: #f3f4f5;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.content > table a:hover {
  color: #2424c7;
}
/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
.highlight.hljs {
  background: #ececec;
}
.highlight.hljs::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.highlight.hljs::-webkit-scrollbar-thumb {
  background-color: #b6bfc5;
  border-radius: 5px;
}
.highlight.hljs::-webkit-scrollbar-track {
  background: transparent;
}
.highlight.hljs::-webkit-scrollbar-corner {
  background: transparent;
}
figure.highlight {
  padding: 0;
  width: 100%;
  position: relative;
  margin: 1em 0 1em !important;
}
figure.highlight pre,
figure.highlight table tr:hover {
  color: inherit;
  background: transparent;
}
figure.highlight table {
  width: auto;
}
figure.highlight pre {
  padding: 0;
  overflow: visible;
}
figure.highlight pre .line {
  line-height: 1.5rem;
}
figure.highlight figcaption,
figure.highlight .gutter {
  background: rgba(200,200,200,0.15);
  display: none;
}
figure.highlight figcaption {
  padding: 0.3em 0.75em;
  text-align: left;
  font-style: normal;
  font-size: 0.8em;
}
figure.highlight figcaption span {
  font-weight: 500;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
figure.highlight figcaption a {
  float: right;
  color: #9a9a9a;
}
figure.highlight .gutter {
  text-align: right;
}
figure.highlight .tag,
figure.highlight .title,
figure.highlight .number,
figure.highlight .section {
  display: inherit;
  font: inherit;
  margin: inherit;
  padding: inherit;
  background: inherit;
  height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  min-width: inherit;
  border-radius: inherit;
}
figure.highlight .copy {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background: rgba(0,0,0,0.5);
}
figure.highlight:hover .copy {
  display: none;
}
/* ---------------------------------
 *          Overflow Table
 * --------------------------------- */
.table-overflow {
  overflow-x: auto;
}
.table-overflow table {
  width: auto !important;
}
.table-overflow table th {
  word-break: keep-all;
}
/* ---------------------------------
 *            Fix Video
 * --------------------------------- */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist table tr:hover {
  background: transparent;
}
.gist table td {
  border: none;
}
.gist .file {
  all: initial;
}
/* ---------------------------------
 *        侧边栏多行溢出隐藏
 * --------------------------------- */
.media-content .has-link-black-ter {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
  max-height: 19px;
  display: inline-block;
}
.card-content .menu-list span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-content .menu-list span:first-child {
  text-overflow: unset;
  white-space: initial;
  overflow: inherit;
}
