<%- _css('css/search') %>
<div class="searchbox">
    <div class="searchbox-container">
        <div class="searchbox-input-wrapper">
            <form class="search-form">
                <input name="wd" type="text" class="searchbox-input" placeholder="<%= __('search.hint') %>" />
                <span class="searchbox-close searchbox-selectable"><i class="fa fa-times-circle"></i></span>
            </form>
        </div>
    </div>
</div>
